/* Common */
body {
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
    background: linear-gradient(skyblue 10%, transparent 25%);
}
.big-text {
    font-size: 200%;
}
.flex-root {
    display: flex;
}
#flexBox1 {
    flex-direction: column;
}
.flex-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.growing {
    flex-grow: 1;
}
/* Header */
#title {
    text-align: center;
    font-size: 300%;
    color: slategrey;
    text-shadow: 2px 2px 5px white, -2px -2px 5px white, -2px 2px 5px white, 2px -2px 5px white;
}
/* Search */
#searchContainer {
    margin: 5px;
}
/* Blocks */
#block-container {
    flex-wrap: wrap;
}
.block {
    margin: 5px;
    min-width: 488px;
    width: 488px;
}
/* Debug */
.debug {
    border: 1px dashed red;
    background-color: rgba(255, 0, 0, 0.2);
}
.debug.block{
    height: 300px;
}