/* Common */
body {
    max-width: 1600px;
    min-width: 800px;
    margin: auto;
    background: linear-gradient(skyblue 10%, transparent 25%);
}
.big-text {
    font-size: 200%;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
#flexBox1 {
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.growing {
    flex-grow: 1;
}
/* Headers */
#title {
    color: slategrey;
    font-size: 300%;
    margin-top: 2em;
    text-shadow: 2px 2px 5px white, -2px -2px 5px white, -2px 2px 5px white, 2px -2px 5px white;
}
h1, h2 {
    text-align: center;
}
/* Search */
#searchContainer {
    margin: 5px;
}
#searchBox {
    border: 1px solid skyblue;
    border-radius: 5px 0px 0px 5px;
    border-right: 0;
    text-align: center;
}
#searchButton {
    border: 1px solid skyblue;
    border-radius: 0px 5px 5px 0px;
}
/* Blocks */
.block {
    background-color: white;
    border: 1px solid skyblue;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
#currentWeather {
    width: 188px;
    margin: auto;
}
#forecast {
    min-width: 888px;
}
#forecast button {
    background: transparent;
    border: 0;
}
/* Debug */
.debug.block{
    height: 400px;
}